﻿@using FoodOrdersContracts.ViewModels;
@using FoodOrdersDataModels.Models;

@model Dictionary<int, (IDishModel, int)>

@{
	ViewData["Title"] = "AddDish";
}
<div class="text-center">
	<h2 class="display-4">Пополнения магазина изделием</h2>
</div>
<form method="post">
	<div class="row">
		<div class="col-4">Выбранный магазин:</div>
		<div class="col-8">
			<select id="shop" name="shop" class="form-control" asp-items="@(new SelectList(@ViewBag.Shops, "Id", "ShopName"))"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-4">Выбранное изделие:</div>
		<div class="col-8">
			<select id="dish" name="dish" class="form-control" asp-items="@(new SelectList(@ViewBag.Dishes, "Id", "DishName"))"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-4">Количество:</div>
		<div class="col-8"><input type="text" id="count" name="count"/></div>
	</div>
	<div class="row">
		<div class="col-8"></div>
		<div class="col-4"><input type="submit" value="Добавить" class="btn btn-primary" /></div>
	</div>
</form>